*{
    margin: 0%;
    padding: 0%;
}
.header{
    background:rgba(50,50,50,0.4);
    backdrop-filter: blur(10px); 
    position: fixed;
    height: 10vh;
    width: 100vw;
    text-align:center;
    color: rgb(228, 188, 240);
    line-height:60px;
    font-size: 20px;
    z-index:1000;
    font-weight: lighter;
    display: flex;
    flex-direction: row;
}
/*#330030*/
.mainclass{
    background: linear-gradient(45deg, #330030, #170127);
    height: 300vh;
    width: 100vw;
    color: white;
}
.links{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    letter-spacing:-0.025em;
    font-weight:bolder;
    margin-left: 32vw;
    margin-top: 2vh;
}
.link{
    margin-left: 4vw;
}
.contact{
    height: 5vh;
    width: 7vw;
    margin-left: 15vw;
    margin-top: 2.5vh;
    border-radius: 0.5rem;
    background-color: rgb(93, 56, 194);
    border: blue;
    color: rgb(228, 188, 240);
}
.btn{
    text-decoration: none;
    color: white;
}
.mainclasssecond{
    position: absolute;
    top: 100vh;
    background:rgba(50,50,50,0.2);
    backdrop-filter: blur(500px); 
    height: 80vh;
    width: 100vw;
    z-index:1;
}
.mainclasssecond_heading{
    padding-left: 50vw;
    padding-top: 15vh;
    color: #00D9EF;
    font-family: 'Lato', sans-serif;
    font-family: 'Montserrat', sans-serif;
}
.mainclasssecond_para{
    padding-left: 50vw;
    padding-top: 7vh;
    color: #F4EEED;
    font-family: 'Lato', sans-serif;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.6;
}
.main_image{
    height: 100vh;
    width: 35vw;
    position: absolute;
    right: 10vw;
    top: 3vh;
}
.mainclass_heading{
    padding-top: 200px;
    padding-left: 200px;
    color: #00D9EF;
}
.mainclass_para{
    color: #F4EEED;
    font-family: 'Lato', sans-serif;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.6;
    padding-left: 13vw;
    padding-top: 4vh;
}
.logo_pic{
    position: absolute;
    left: 120px;
    top: 75px;
    height: 60vh;
}
.mainclassthird{
    position: absolute;
    top: 180vh;
    height: 100vh;
}
.mainclassthird_heading{
    position: absolute;
    top: 10vh;
    left: 45vw;
    color: #00D9EF;
    font-size: 50px;
    font-family: 'Lato', sans-serif;
    font-family: 'Montserrat', sans-serif;
}
.hori_1{
    height: 0.4vh;
    width: 37vw;
    background: #00D9EF ;
    position: absolute;
    top: 14vh;
    left: 6vw;
}
.hori_2{
    height: 0.4vh;
    width: 36vw;
    background: #00D9EF ;
    position: absolute;
    top: 14vh;
    left: 57.4vw;
}
.verti_1{
    height: 100vh;
    width: 0.2vw;
    background: #00D9EF ;
    position: absolute;
    top: 14vh;
    left: 6vw;
}
.verti_2{
    height: 100vh;
    width: 0.2vw;
    background: #00D9EF ;
    position: absolute;
    top: 14vh;
    left: 93.2vw;
}
.hori_3{
    height: 0.4vh;
    width: 87.4vw;
    background: #00D9EF ;
    position: absolute;
    top: 114vh;
    left: 6vw;
}